<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	
	<welcome-file-list>
		<welcome-file>home</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>switch_newlook.servlets.Home</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<!--  Servlet de test  -->
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>switch_newlook.servlets.Test</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet de la page principale -->
	<servlet>
		<servlet-name>PagePrincipale</servlet-name>
		<servlet-class>switch_newlook.servlets.PagePrincipale</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>PagePrincipale</servlet-name>
		<url-pattern>/pagePrincipale</url-pattern>
	</servlet-mapping>

</web-app>